USE [master]
GO
/****** Object:  Database [QuanLySanPham]    Script Date: 30/07/2025 10:20:07 AM ******/
CREATE DATABASE [QuanLySanPham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySanPham', FILENAME = N'D:\Application\sqlserver\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySanPham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySanPham_log', FILENAME = N'D:\Application\sqlserver\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySanPham_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySanPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySanPham]
GO
/****** Object:  User [PC01]    Script Date: 30/07/2025 10:20:07 AM ******/
CREATE USER [PC01] FOR LOGIN [PC01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\ASP_NET_Core_ProductManagement]    Script Date: 30/07/2025 10:20:07 AM ******/
CREATE USER [IIS APPPOOL\ASP_NET_Core_ProductManagement] FOR LOGIN [IIS APPPOOL\ASP_NET_Core_ProductManagement] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\ASP_NET_Core_ProductManagement]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 30/07/2025 10:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_san_pham] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](200) NULL,
	[URL] [varchar](200) NULL,
	[gia] [decimal](10, 2) NOT NULL,
	[so_luong] [int] NULL DEFAULT ((0)),
	[ngay_tao] [datetime] NULL,
	[ngay_cap_nhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
